*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

html{
    font-size: 10px;
}

.img-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 90%;
    margin: auto;
    padding: 80px;
    margin-top: 100px;
    background-color:rgb(244,244,244)
}
.img-wrapper{
    width: 200px;
    height: 300px;
    margin: 10px 15px;
}

.img-wrapper:nth-of-type(odd){
    padding-top: 30px;
}
.img-frame{
    width: 180px;
    height:270px;
    position: relative;
}
.member-photo{
    width: 88%;
    height: auto;
    /* margin-right: 3px; */
    margin-bottom: 5px;
    border-radius: 5px;
    box-shadow: -1px -1px 5px -1px;
}


.text-right{
    position: absolute;
    right: 0;
    top: 8px;
    transform: rotate(90deg);
    z-index: 2;
    /* margin-left: 3px; */
}

.text-bottom{
    font-size: 1.5rem;
}