
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 80%;
    min-width: 400px;
    margin: 100px auto ;
    background-color: aqua;
    border: 1px solid red;
    display: flex;
    flex-wrap: wrap;
    /* align-items: center; */
    justify-content: center;
}
.right-text{
    transform: rotate(90deg) translate(-175px,-95px); /*! 90 derece döndürdüğümüz içi translate de x ve y yer değiştirdi.*/
    z-index: 2;
    font-size: 0.8rem;
}

.img-wrapper{
    width: 200px;
    height: 300px;
    margin: 30px;
}
.img-frame{
    /* position: relative; */
    width: 190px;
    height: 270px;
    transition: all ease-in-out 0.5s;
}
.img-wrapper:nth-of-type(even){
    padding-top: 30px;
}
.member-photo{
    width: 180px;
    height: auto;
    /* margin-bottom: 5px; */
    border-radius: 5px;
    box-shadow: -5px 5px 5px 1px rgb(122, 121, 121);

}

.img-frame:hover{
    transform: scale(1.2);
}